@model eRandevuApp.Models.doktor
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "doktor Hakkında";
}

<h1 class="text-center">@localizer["doktor Bilgileri"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 align-self-center">
            @Html.DisplayNameFor(model => model.DoktorFotografi)
        </dt>
        <dd class="col-sm-10 pb-5">
            <img class="w-50 h-100" src="@Model.DoktorFotografi" asp-append-version="true">
        </dd>
        <dt class="col-sm-2 pb-5 align-self-center">
            @Html.DisplayNameFor(model => model.DoktorAdSoyad)
        </dt>
        <dd class="col-sm-10 pb-5">
            @Html.DisplayFor(model => model.DoktorAdSoyad)
        </dd>
        <dt class="col-sm-2 align-self-center">
            @Html.DisplayNameFor(model => model.DoktorHakkinda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoktorHakkinda)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {<a class="btn btn-outline-light text-dark" asp-action="Edit" asp-route-id="@Model.DoktorId">@localizer["Düzenle"]</a>}
<a class="btn btn-secondary ml-3" asp-action="Index">@localizer["Geri Dön"]</a>
</div>
